<%= stylesheet_link_tag 'remco_crm', media: 'screen' %>

<header class="container white-font mt-2">
    <div class="row">
        <div class="col-xs-5 page-header">
            Editar Cliente
        </div>
    </div>
</header>

<%= render 'customers_form.html.erb' %>